
<body>
    <section class="group-main">


        <div class="main">
            <h3>
                DEMO RECOMMENDER SYSTEM
            </h3>
            <div class="row-1">
                <input class="up-file" type="file" placeholder="Upload data" />
                <button class="bnt-train bnt">
                    Train
                </button>
            </div>
        </div>
        <div class="popup-data" style="display:none;">
            <div class="main-popup-data">
                <div class="loader">

                </div>
                <h3 style="display:none;" class="success">
                    Successfully trained data
                </h3>
                <div style="display:none" class="chosse-item topten">
                    <input class="chosse-item-train" placeholder="Nhập ID của Item" />
                    <button class="bnt-topten bnt">
                        Lấy top 10
                    </button>
                </div>

            </div>
        </div>
        <div class="popup-topten" style="display:none;">
            <div class="main-popup-topten">
                <table class="data-topten ">
                    <tr>
                        <th>
                            Sore
                        </th>
                        <th>
                            Product
                        </th>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                </table>
                <div class="chosse-item finish">

                    <button class="done bnt">
                        xong
                    </button>
                </div>

            </div>
        </div>

    </section>
</body>

