
<body>
    <section class="group-main">


        <div class="main">
            <h3>
                DEMO RECOMENDER SYSTEM
            </h3>
            <div class="row-1">
                <input class="up-file" type="file" placeholder="chọn data" />
                <button class="bnt-train bnt">
                    train
                </button>
            </div>
        </div>
        <div class="popup-data" style="display:none;">
            <div class="main-popup-data">
                <table class="data-train ">
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            tr-squerror
                        </th>
                        <th>
                            tr-squerror+
                        </th>
                        <th>
                            tr-squerror-
                        </th>
                        <th>
                            obj
                        </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="chosse-item">
                    <input class="chosse-item-train" placeholder="chọn id item" />
                    <button class="bnt-topten bnt">
                        lấy top 10
                    </button>
                </div>

            </div>
        </div>
        <div class="popup-topten" style="display:none;">
            <div class="main-popup-topten">
                <table class="data-topten ">
                    <tr>
                        <th>
                            score   
                        </th>
                        <th>
                           product
                        </th>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        
                    </tr>
                </table>
                <div class="chosse-item">
                  
                    <button class="done bnt">
                        xong
                    </button>
                </div>

            </div>
        </div>

    </section>
</body>
